doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/game.css')
    link(rel='stylesheet', href='/css/editor.css')
	script(src='http://code.jquery.com/jquery.min.js')
	script(src='http://backbonejs.org/backbone.js')
	script(src='http://requirejs.org/docs/release/2.1.2/minified/require.js', data-main='js/main')

  body
    block content