doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/game.css')
    link(rel='stylesheet', href='/css/editor.css')
    script(src='http://code.jquery.com/jquery.min.js')
    script(src='http://underscorejs.org/underscore.js')
    script(src='http://backbonejs.org/backbone.js')

  body
    block content