doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/game.css')
    link(rel='stylesheet', href='/css/editor.css')
    link(rel='stylesheet', href='/css/tile.css')
    script(src='js/lib/require.js', data-main='js/main')
  body
    block content